@import 'bootstrap/dist/css/bootstrap';


.jumbotron{
	background-image : asset-url('card1.jpeg');
	color : white !important;
	background-position : center center;
	background-repeat : no-repeat;
	background-size : cover;
	height : 425px;
}


html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.size{
	background-size : cover;
	height : 787px;
}


.contact-form{
	background:rgba(0,0,0, .6);
	color : white;
	margin-top : 100px;
	padding : 20px;
}
